  
                   ####### CONFIGS SERVICE #######
________________________________________________________________________________

ORIGIN_FOLDER = /home/erlanrox/Files

DESTINY_FOLDER = //192.168.0.0/videos/